.tiles-galery {
    /*overflow: scroll;*/
    overflow-x: hidden;
/*    height: 500px;//for older
    height: 75vh;*/
    
}

.tiles-galery div {
    margin: 0px !important;
    /*padding: 0px !important;*/
}

.tiles {
    
}

.tiles div{
    margin: 0px !important;
    /*padding: 0px !important;*/
}

.tiles .col {
    padding: 0px !important;
    /*margin: 0px !important;*/
}

.tile {
    overflow: hidden;
    display: inline-block;
    float: left;
    /*box-shadow: 0px 0px 0px 2px white inset;*/
    outline: thick solid white;
    box-sizing: border-box;
    position: relative;
    background-color: #aaa;
}

.scroll-element.scroll-x {
    display: none !important;
}

.tile-title{
    background: rgba(50,50,50,0.5);
    font-size: 10px;
    color: white;
    /*box-shadow: 0px 0px 0px 2px white inset;*/
    padding: 5px !important;
    position: absolute;
    bottom: 0px;
    width: inherit;
    text-align: center;
}

.modal-full {
    margin-top: 15px !important;
    height: 100% !important;
    width: 85% !important;
}

.loader-in-dialog{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 40px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

table.photo-main-container {
    width: 100%;
}
.photo-container{
    background-color: #000;
    text-align: center;
    position: relative;
} 
.photo-container:hover .normallyHidden {
    display: block;
}
.photo-button-container{
    width:25px;
} 
.photo-button-container-left{}
.photo-button-container-right{}

.fade.ng-hide {
  opacity: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=90) !important;
    opacity: 0.9 !important;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

.end_tail, .loadnextpage {
    margin-top: 10px;
    border: 1px solid #F1EDED;
    background: #fff;
    padding: 10px;
    text-align: center;    
    /*position: fixed;*/
}

.dialog-tab-content {
    padding-top: 10px;
}

#dialog-close-button{
    position: ABSOLUTE;
    right: 1px;
    top: 2px;
    cursor: pointer;
    font-size: 16px;
    width: 16px;
    height: 16px;
    z-index: 99999999;
}

.dialog-title {
    padding: 0px !important;
    overflow: hidden;
    margin-bottom: 10px;
}

.dialog-image {
    max-height: 90vh;max-width: 100%;
}

.fullscreenmode{
    position: absolute;
    z-index: 9999999;
    color: #222;
    right: 10px;
    top: 10px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    display: none;
}